Flask==2.2.2
Werkzeug==2.2.2
gunicorn
python-dotenv
langchain
langchain-openai
langsmith
pydantic
google-cloud-pubsub
google-cloud-firestore
requests
langchain_community
Flask[async]==2.2.2
geopy
typing